%ul#top_menu
	%li.menu_item
		%a{:href => '#tab-1'} Welcome
	%li.menu_item
		%a{:href => '/polls'} Polls
	%li.menu_item
		%a{:href => '/ranked_polls'} Ranked Polls
	%li.menu_item
		%a{:href => '/games'} Games
	%li.menu_item
		%a{:href => '/players'} Players